.proposition, .opposition {
  ion-card-content {
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 5em;
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

