<ion-grid fixed>
  <ion-row class="ion-align-items-center ion-justify-content-center container">
    <ion-col size-sm="4" class="proposition">
      <ion-card color="light" class="ion-text-center">
        <ion-card-header>
          <ion-title color="primary">Proposition Tally</ion-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text>
            <h1>10</h1>
          </ion-text>
        </ion-card-content>
      </ion-card>
      <div class="buttons">
        <ion-button>Add</ion-button>
        <ion-button>Deduct</ion-button>
      </div>
    </ion-col>
    <ion-col size-sm="4" class="opposition">
      <ion-card color="light" class="ion-text-center">
        <ion-card-header>
          <ion-title color="primary">Oppositon Tally</ion-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text>
            <h1>10</h1>
          </ion-text>
        </ion-card-content>
      </ion-card>
      <div class="buttons">
        <ion-button>Add</ion-button>
        <ion-button>Deduct</ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
