<ion-grid fixed>
  <ion-row class="ion-align-items-center ion-justify-content-center container">
    <ion-col size-sm="12" size-lg="8">
      <ion-card color="light">
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="stacked">Proposition Stand</ion-label>
                  <ion-input type="text">Coffee</ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="stacked">Opposition Stand</ion-label>
                  <ion-input type="text">Tea</ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="stacked">Motion Description</ion-label>
                  <ion-input type="text">Which is better for breakfast?</ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button [routerLink]="['/start']">Submit</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
